{% extends 'r2n2/base.html' %}

{% block userinfo %}
<!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/static/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ current_user.first_name}} {{ current_user.last_name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  {{ current_user.first_name}} {{ current_user.last_name}} 
                  <small>{{ current_user.email}}</small>
                </p>
              </li>
              <!-- Menu Body -->
              
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-info btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-danger btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
		  
		  
{% endblock %}


{% block content_header %}
	<section class="content-header">
	<h1> 
		<!-- {{ lsgd_selected.0.lsgd_code }} -
        {{ lsgd_selected.0.lsgd_name }} - 
        {{ lsgd_selected.0.lsgd_type }} -
		{{ data_entry_year }} -->
		<p align="center"> {{ lsgd_selected.0.lsgd_name }} {{ lsgd_selected.0.lsgd_type }} ({{ lsgd_selected.0.lsgd_code }}) </p>

    </h1>
	
	<ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> ENGLISH</li>
        <li><a href="#"><i class="fa fa-dashboard"></i> മലയാളം </a></li>
     </ol>
    </section>	
{% endblock %}



	
{% block content %}
<section class="content">

<!-- Left col -->
<section class="col-lg-3 col-md-3">
		
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/gdls/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">1</span>
  
        <div class="info-box-content">
          <span class="info-box-number">General Details of LSGD </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="#"> <div class="info-box bg-red-gradient">
        <span class="info-box-icon">2</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Demographic Particulars (2011) </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/sddc/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">3</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Sex Desegregated Data of Children</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/swdd/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">4</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Sex Wise Disability Data of Children </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/msc/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">5</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Morbidity Status of Children </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/prs/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">6</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Pregnancy Related Status</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/bdr/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">7</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Birth and Death Registration </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/nhs/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">8</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Nutritional and Health Status </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/ecce/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">9</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Early Chilhood Care and Education</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/ioe/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">10</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Institutions of Education</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/sddosc/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">11</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Sex Desegregated Data of School Children</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/icos/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">12</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Infrastructural Conditions of School</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/hci/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">13</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Health Care Institutions</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/oifc/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">14</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Other  Institution for Children</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/icop/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">15</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Infrastructural Conditions on PQLI</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/cetv/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">16</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Chidren Exposed to Vulnaribilities</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/cp/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">17</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Child Participation</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  <!-- ./row -->
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/lcc/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">18</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Literary Cultural Centres</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <a href="/data/cfai/"> <div class="info-box bg-blue-gradient">
        <span class="info-box-icon">19</span>
  
        <div class="info-box-content">
          <span class="info-box-number">Child Friendly Administrative Initative</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div></a>
  </div>
  
  </section>
  <!-- Left Col -->
  
  
  

			  
<!-- Right col -->
<section class="col-lg-9 col-md-9">

<!-- Horizontal Form -->
		<form class="form-horizontal" method="post">
			{% csrf_token %}
          <div class="box box-solid bg-blue-gradient">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> &nbsp; Population Details</h3>
			</div>
		
			<div class="box-footer text-black">
            <!-- /.box-header -->
            <!-- form start -->
			<!-- {{ questions }} -->
			
			
            <div class="box-body">	
			<table border=0px width=100%>
	
			<tr height=80px>
			  <td width="48%">
                  <label for="population_male">{{ questions.0.question_text }}</label>
				  <input name="population_male" type="text" class="form-control" value="{{ answers.0.population_male }}">
			  </td>
			  
			  <td width="4%"> <label for="inputEmail3"></label> </td>
			  
			  <td width="48%">
                  <label for="population_female">{{ questions.1.question_text }}</label>
				  <input name="population_female" type="text" class="form-control" value="{{ answers.0.population_female }}">
			  </td>
			</tr> 
			
			<tr height=80px>
			  <td>
                  <label for="population_male_sc" >{{ questions.2.question_text }}</label>
				  <input name="population_male_sc" type="text" class="form-control" value="{{ answers.0.population_male_sc }}">
              </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			  
			  <td>
                  <label for="population_female_sc">{{ questions.3.question_text }}</label>
				  <input name="population_female_sc" type="text" class="form-control" value="{{ answers.0.population_female_sc }}">
			  </td>
			</tr>
			  
			<tr height=80px>
			  <td>
                  <label for="population_male_st" >{{ questions.4.question_text }}</label>
				  <input name="population_male_st" type="text" class="form-control" value="{{ answers.0.population_male_st }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
			 <td>
                  <label for="population_female_st" >{{ questions.5.question_text }}</label>
				  <input name="population_female_st" type="text" class="form-control" value="{{ answers.0.population_female_st }}">
			  </td>
			 </tr>
			 
			 <!-- /.box-body -->
			</table>
              <div class="box-footer">
               
              </div>
              <!-- /.box-footer -->
		    </div>
          
		   </div>
		  </div>
		  
		  <div class="box box-solid bg-blue-gradient">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> &nbsp; Children Details</h3>
			</div>
		
			<div class="box-footer text-black">
            <!-- /.box-header -->
            		
            <div class="box-body">	
			<table border=0px width=100%>
		  
			 <tr height=80px>
			  <td>
                  <label for="children_0_to_6_age_male">{{ questions.6.question_text }}</label>
				  <input name="children_0_to_6_age_male" type="text" class="form-control" value="{{ answers.0.children_0_to_6_age_male }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
			 <td>
                  <label for="children_0_to_6_age_female">{{ questions.7.question_text }}</label>
				  <input name="children_0_to_6_age_female" type="text" class="form-control" value="{{ answers.0.children_0_to_6_age_female }}">
			  </td>
			 </tr>
			
			<tr height=80px>
			  <td>
                  <label for="children_0_to_6_age_male_sc" >{{ questions.8.question_text }}</label>
				  <input name="children_0_to_6_age_male_sc" type="text" class="form-control" value="{{ answers.0.children_0_to_6_age_male_sc }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
			 <td>
                  <label for="children_0_to_6_age_female_sc" >{{ questions.9.question_text }}</label>
				  <input name="children_0_to_6_age_female_sc" type="text" class="form-control" value="{{ answers.0.children_0_to_6_age_female_sc }}">
			  </td>
			 </tr>
			
			<tr height=80px>
			  <td>
                  <label for="children_0_to_6_age_male_st" >{{ questions.10.question_text }}</label>
				  <input name="children_0_to_6_age_male_st" type="text" class="form-control" value="{{ answers.0.children_0_to_6_age_male_st }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
			 <td>
                  <label for="children_0_to_6_age_female_st">{{ questions.11.question_text }}</label>
				  <input name="children_0_to_6_age_female_st" type="text" class="form-control" value="{{ answers.11.children_0_to_6_age_female_st }}">

			  </td>
			 </tr>
					 
			<tr height=80px>
			  <td>
                  <label for="children_6_to_10_age_male" >{{ questions.12.question_text }}</label>
				  <input name="children_6_to_10_age_male" type="text" class="form-control" value="{{ answers.0.children_6_to_10_age_male }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
			 <td>
                  <label for="children_6_to_10_age_female ">{{ questions.13.question_text }}</label>
				  <input name="children_6_to_10_age_female" type="text" class="form-control" value="{{ answers.0.children_6_to_10_age_female }}">
			  </td>
			 </tr>
			
			<tr height=80px>
			  <td>
                  <label for="children_0_to_18_age_male" >{{ questions.14.question_text }}</label>
				  <input name="children_0_to_18_age_male" type="text" class="form-control" value="{{ answers.0.children_0_to_18_age_male }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
			 <td>
                  <label for="children_0_to_18_age_female" >{{ questions.15.question_text }}</label>
				  <input name="children_0_to_18_age_female" type="text" class="form-control" value="{{ answers.0.children_0_to_18_age_female }}">
		  </td>
			 </tr>
			
						 <!-- /.box-body -->
			</table>
              <div class="box-footer">
               
              </div>
              <!-- /.box-footer -->
		    </div>
          
		   </div>
		  </div>
		  
		  <div class="box box-solid bg-blue-gradient">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> &nbsp; Literates Details</h3>
			</div>
		
			<div class="box-footer text-black">
            <!-- /.box-header -->
            		
            <div class="box-body">	
			<table border=0px width=100%>
			<tr height=80px>
			  <td>
                  <label for="literates_male" >{{ questions.16.question_text }}</label>
				  <input name="literates_male" type="text" class="form-control" value="{{ answers.0.literates_male }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 	<td>	
					<label for="literates_female" >{{ questions.17.question_text }}</label>
				  <input name="literates_female" type="text" class="form-control" value="{{ answers.0.literates_female }}">	 
			    </td>
			 </tr>
			
						 <!-- /.box-body -->
			</table>
              <div class="box-footer">
               
              </div>
              <!-- /.box-footer -->
		    </div>
          
		   </div>
		  </div>
		  
		  <div class="box box-solid bg-blue-gradient">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> &nbsp; Migrant Labours and Kids Details</h3>
			</div>
		
			<div class="box-footer text-black">
            <!-- /.box-header -->
            		
            <div class="box-body">	
			<table border=0px width=100%>
			
			<tr height=80px>
			  <td>
                  <label for="migrant_labours_male">{{ questions.18.question_text }}</label>
				  <input name="migrant_labours_male" type="text" class="form-control" value="{{ answers.0.migrant_labours_male }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
			 <td>
                  <label for="migrant_labours_female" >{{ questions.19.question_text }}</label>
				  <input name="migrant_labours_female" type="text" class="form-control" value="{{ answers.0.migrant_labours_female }}">
			  </td>
			 </tr>
			
			<tr height=80px>
			  <td>
                  <label for="migrant_labours_child_male" >{{ questions.20.question_text }}</label>
				  <input name="migrant_labours_child_male" type="text" class="form-control" value="{{ answers.0.migrant_labours_child_male }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
                  <td>
                  <label for="migrant_labours_child_female">{{ questions.21.question_text }}</label>
				  <input name="migrant_labours_child_female" id=""  type="text" class="form-control" value="{{ answers.0.migrant_labours_child_female }}">
			 
			  </td>
			 </tr>
			
			<tr height=80px>
			  <td>
                  <label for="third_gender_persons">{{ questions.22.question_text }}</label>
				  <input name="third_gender_persons" type="text" class="form-control" value="{{ answers.0.third_gender_persons }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 
			 
                  <td>
                  
			  </td>
			  
			  			 <!-- /.box-body -->
			</table>
              <div class="box-footer">
               
              </div>
              <!-- /.box-footer -->
		    </div>
          
		   </div>
		  </div>
		  
		  <div class="box box-solid bg-blue-gradient">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> &nbsp; Family and Households Details</h3>
			</div>
		
			<div class="box-footer text-black">
            <!-- /.box-header -->
            		
            <div class="box-body">	
			<table border=0px width=100%>
			
			 </tr>
			 <tr height=80px>
			  <td>
                  <label for="household_all">{{ questions.23.question_text }}</label>
				  <input name="household_all" type="text" class="form-control" value="{{ answers.0.household_all }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
                  <td>
                  <label for="household_sc">{{ questions.24.question_text }}</label>
				  <input name = "household_sc" type="text" class="form-control" value="{{ answers.0.household_sc }}">
			 
			  </td>
			 </tr>
			 
			<tr height=80px>
			  <td>
                  <label for="household_st">{{ questions.25.question_text }}</label>
				  <input name="household_st" type="text" class="form-control" value="{{ answers.0.household_st }}">
			  </td>
			  <td> <label for="inputEmail3" class="col-sm-8"></label> </td>
			 			 
                  <td>
                  <label for="bpl_families">{{ questions.26.question_text }}</label>
				  <input  name = "bpl_families" type="text" class="form-control" value="{{ answers.0.bpl_families }}">
			 
			  </td>
			 </tr>
			

            <!-- /.box-body -->
			</table>
              <div class="box-footer">
                <button type="submit" name="save_details" class="btn btn-primary">Save Details</button>
                <button type="submit" name="next_page" class="btn btn-primary pull-right">Next Page </button>
			    <button type="submit" name="prev_page" style='margin-right:10px' class="btn btn-primary pull-right">Prev Page </button>
              </div>
              <!-- /.box-footer -->
		    </div>
		
          </div>
		  </div>
		 </form>
          <!-- /.box -->
</section>
<!-- Right col -->


</section>
<!-- End of content -->
{% endblock %}


